body {
    background-image: url('../images/Background\ image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

#main-header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px;
}


#main-header h1 {
    font-size: 2.5em;
    margin: 0;
}

#in-progress li {
    background-color: #fdfd96; /* Light yellow */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

#done li {
    background-color: #d4edda; /* Light green */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

